.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;

  &:hover,
  &:active,
  &:focus {
    color: $primary-color;
    border-color: #fff;
    outline: 0;
  }
}

.btn {
  background-color: $primary-color;
  color: #ffffff;
  display: inline-block;
  padding: 0.75rem   1.2rem;
  text-decoration: none;

  &--orange {
    background-color: $main-orange;
  }

  &--large {
    font-size: 1.25rem;
    padding: 1.1rem 1.9rem;
  }

  &:hover,
  &:active,
  &:focus {
    color: $primary-color;
    background-color: $bg-color; 
  }
}