.page-section {
    padding: 1.2rem 0;

    @include at-medium {
        padding: 4.5rem 0;
    }

    &--white {
        color: $white;
    }

    &--testimonials {
        background: #e0e6ef;
        
        @include at-medium {
            background: url(../../assets/img/testimonials-bg.jpg) top center no-repeat;
            background-size: cover;
        }
    }
}