.feature-item {
    position: relative;
    padding-bottom: 2.5rem;

    @include at-small {
        padding-left: 5.875rem;
    }

    &__icon {
        display: block;
        margin: 0 auto;

        @include at-small {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: .7em;
        margin-bottom: .8rem;
        text-align: center;

        @include at-small {
            text-align: left;
            margin-top: 1em;
            font-size: 1.875rem;
            margin-bottom: 1re;
        }
    }


}