.icon--clear-view-escapes {
    width: ;
    height: ;
}
.icon--comment {
    width: ;
    height: ;
}
.icon--facebook {
    width: ;
    height: ;
}
.icon--fire {
    width: ;
    height: ;
}
.icon--globe {
    width: ;
    height: ;
}
.icon--instagram {
    width: ;
    height: ;
}
.icon--mail {
    width: ;
    height: ;
}
.icon--rain {
    width: ;
    height: ;
}
.icon--star {
    width: ;
    height: ;
}
.icon--twitter {
    width: ;
    height: ;
}
.icon--wifi {
    width: ;
    height: ;
}
.icon--youtube {
    width: ;
    height: ;
}
